<!-- 使用base.html样式 -->
{% extends 'base.html' %}

{% block content %}


<!-- return answer说明用户已正确填写表单并提交，此时展示提交处理后的页面 -->
{% if answer %}

    <!--添加表单以实现用户与表单互动-->
    <form method=POST action="{% url 'home' %}">

        <!-- csrf_token是为了防止csrf(跨站请求伪造)，防止黑客盗用你存在网站(cookie)上的账户密码和信息 -->
        {% csrf_token %}
        <div class="mb-3">

            <!-- class告诉prism该干活了,显示行数以及对应语言高亮效果 -->
            <!-- 此时code区域显示Chatsonic的回复 -->
            <textarea class="form-control" rows="10" readonly="readonly" wrap="hard">您的问题：{{ question }}&#10;ChatSonic：{{ answer }}</textarea>

        </div>
        <br/><br/>

         <!-- 选择任务 -->
        <div class="input-group mb-3">

          <label class="input-group-text">任务</label>
          <select class="form-select" name="task">
                <!-- 提交处理后的页面仍保持上一次的任务 -->
                {% if task == '聊天' %}
                <option>选择任务和A.I. Bot对话吧！</option>
                <option value="聊天" selected>聊天</option>
                <option value="写作">写作</option>
                {% elif task == '写作' %}
                <option>选择任务和A.I. Bot对话吧！</option>
                <option value="聊天">聊天</option>
                <option value="写作" selected>写作</option>
                {% else %}
                <option selected>选择任务和A.I. Bot对话吧！</option>
                <option value="聊天">聊天</option>
                <option value="写作">写作</option>
                {% endif %}
          </select>

        </div>

        <!-- 需求输入区域 -->
         <div class="input-group">
                <span class="input-group-text">输入</span>
                <!-- 提交后清空输入框  -->
                <textarea class="form-control" name="question" aria-label="With textarea" required></textarea>
        </div>
        <br/>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="submit">提交</button>
        </div>

    </form>



<!-- 没有return answer说明这是第一次进该页面，展示原始页面 -->
{% else %}

<br/><br/>

    <!-- 添加表单以实现用户与表单互动, 提交后将数据发送到urls文件中url名为‘name’的path处理 -->
    <form method=POST action="{% url 'home' %}">

        <!-- csrf_token是为了防止csrf(跨站请求伪造)，防止黑客盗用你存在网站(cookie)上的账户密码和信息 -->
        {% csrf_token %}

         <!-- 选择任务 -->
        <div class="input-group mb-3">

          <label class="input-group-text" for="inputGroupSelect02">任务</label>
          <select class="form-select" id="inputGroupSelect02" name="task">
                <option selected>选择任务和A.I. Bot对话吧！</option>
                <option value="聊天">聊天</option>
                <option value="写作">写作</option>
          </select>

        </div>

        <br/>

        <!-- 需求输入区域 -->
        <div class="input-group">
            <span class="input-group-text">输入</span>
            <!--  若question有值说明用户在没有选择任务的情况下提交了表单，导致没有返回answer,此时仍显示用户之前输入的内容  -->
            {% if question %}
            <textarea class="form-control" name="question" aria-label="With textarea">{{ question }}</textarea>
            <!--  若question无值，则说明用户是首次访问该页面，显示原始样式 -->
            {% else %}
            <textarea class="form-control" name="question" aria-label="With textarea" required></textarea>
            {% endif %}
        </div>
        <br/>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success" type="submit">提交</button>
        </div>

    </form>

{% endif %}

{% endblock %}



